/* styles.css */
body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    font-family: verdana;
}

h1 {
    color: #a81313;
    text-align: center;
    margin-top: 20px;
}
